/* Overall table styling */
.table {
  left: 0;
  width: 100%;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  font-size: 16px;
  color: #333333;
  font-family: 'Poppins', sans-serif;
}
.eyelashes-3d-icon{
  height: 40px;
  cursor: pointer;
}
.maintable{
  position: relative;
  right: 20%;
}
/* Header cells */
thead th {
  background-color: #f0f8ff; /* AliceBlue */
  border-bottom: 1px solid #c6d4df;
  padding: 10px;
  text-align: left;
}

/* Data cells */
tbody td {
  border-bottom: 1px solid #e6e6e6;
  padding: 10px;
  text-align: left;
}

/* Responsive styling for smaller screens */
@media screen and (max-width: 1125px) {
  .table {
    flex-wrap: wrap;
  }

  /* Adjust font size for smaller screens */
  .table,
  .table th,
  .table td {
    font-size: 14px;
  }
}
